/* ToggleSwitch.css */
.toggle-switch {
    display: inline-flex;
    background-color: #007bff; /* Blue color */
    border-radius: 30px;
    width: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 5px;
    user-select: none;
  }
  
  .toggle-switch .slider {
    width: 30px;
    height: 30px;
    background-color: #fff; /* White color */
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  .toggle-switch.on {
    background-color: #28a745; /* Green color when on */
  }
  
  .toggle-switch.on .slider {
    transform: translateX(60px);
  }
  
  .toggle-switch.off .slider {
    transform: translateX(0);
  }
  
  .label {
    margin-left: 10px;
    color: black; /* White text color */
    
  }
  